%p= t(:fosbury_intro)

%h2 How do I assign a task to someone from my application? 

%h2 How do I know if someone has done a task?

%h2 How do I get the results of a task? 


%p= t(:task_list)

!= render :partial => 'task_type', :collection => @task_types 